* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* Box 1 */
.box1 {
    position: relative;
    width: 55%;
    height: 95%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(131,202,253,255), rgba(75,119,251,255));
    border-radius: 10% 0 0 10%;
}
.box1Div1 {
    width: 80%;
    height: 15%;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.box1Div2 {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1Div2 > img {
    width: 50%;
    margin-left: -14%;
    height: auto;
}
.box1Div3 {
    width: 80%;
    height: 15%;
    margin-left: -14%;
    color: white;
    text-align: center;
}
/* Box 2 */
.box2 {
    position: relative;
    margin-left: -6%;
    width: 49%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f6ff;
    border-radius: 10% 10% 10% 0;
}
.box2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 90%;
    border-bottom-right-radius: 10%;
    /* background:#000; */
    box-shadow: 70px 0 0 0 #f2f6ff;
}
.box2Div {
    width: 60%;
    margin-top: 30px;
}
/* Style the tab */
.tab {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 40px;
    padding: 3% 10% 50%;
    box-shadow: 0px 0px 10px 3px #d1d8eb;
}
/* Style the buttons inside the tab */
.tablinks {
    background-color: #f6f6f8;
    color: #a3b5c2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 0;
    margin: 0 20px;
    transition: 0.5s;
    font-size: 20px;
}
/* Change background color of buttons on hover */
.tablinks:hover {
    color: black;
}
/* Create an active/current tablink class */
.tab button.active {
    color: black;
    border-bottom: 2px solid rgb(75, 75, 168);
}
/* Style the tab content */
.tabcontent {
    box-shadow: 0px 5px 10px 2px #d1d8eb;
    background-color: #fff;
    position: relative;
    margin-left: -12.7%;
    padding: 5%;
    width: 114.7%;
    border: 1px solid #ccc;
    float: left;
    border-radius: 40px;
}
/* Form Input */
.input-field {
    position: relative;
    line-height: 60px;
    padding: 0px 20px;
}
.labelFor {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    color: #cbacac;
    transition: 0.2s all;
    cursor: text;
}
.inputSignup {
    width: 100%;
    padding: 22px 0 5px 5px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    box-sizing: border-box;
    color: #111;
}
.inputSignup:invalid {
    outline: 0;
}
.inputSignup:focus,
.inputSignup:valid {
    border-color: rgb(75, 75, 168);
}
.inputSignup:focus~label,
.inputSignup:valid~label {
    font-size: 12px;
    top: -20px;
    left: 25px;
    color: rgb(75, 75, 168);
}
/* Buttons */
.signUpBtn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    text-align: center;
    color: white;
    background-color: rgb(96, 96, 214);
    cursor: pointer;
}
.signUpBtn:hover {
    background-color: rgb(32, 32, 223);
}
.haveOrNot {
    color: red;
    cursor: pointer;
}
.haveOrNot:hover {
    color: black;
    text-decoration: underline;
}
/* Icons */
.box2Div2 {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.linksIcons {
    font-size: 30px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.linksIcons:hover {
    background-color: rgb(32, 32, 223);
    color: white;
}
.bottomLinks {
    display: flex;
    cursor: pointer;
}
.bottomIcons {
    color: rgb(32, 32, 223);
}
.bottomText {
    margin-left: 15px;
}
.bottomLinks:hover {
    text-decoration: underline;
}
@media screen and (min-width: 4001px) and (max-width: 6000px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 68px;
    }
    .box1Div3 {
        font-size: 64px;
    }
    /* Box 2 */
    .box2::before {
        box-shadow: 250px 0 0 0 #f2f6ff;
    }
}
@media screen and (min-width: 2701px) and (max-width: 4000px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 45px;
    }
    .box1Div3 {
        font-size: 41px;
    }
    /* Box 2 */
    .box2::before {
        box-shadow: 120px 0 0 0 #f2f6ff;
    }
}
@media screen and (min-width: 2001px) and (max-width: 2700px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 33.2px;
    }
    .box1Div3 {
        font-size: 28.2px;
    }
    /* Box 2 */
    .box2::before {
        box-shadow: 100px 0 0 0 #f2f6ff;
    }
}
@media screen and (min-width: 1801px) and (max-width: 2000px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 29.7px;
    }
    .box1Div3 {
        font-size: 26px;
    }
    /* Box 2 */
    .box2::before {
        box-shadow: 90px 0 0 0 #f2f6ff;
    }
}
@media screen and (min-width: 1601px) and (max-width: 1800px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 27.7px;
    }
    .box1Div3 {
        font-size: 23.7px;
    }
    /* Box 2 */
    .box2::before {
        box-shadow: 80px 0 0 0 #f2f6ff;
    }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 24.7px;
    }
    .box1Div3 {
        font-size: 21.7px;
    }
    /* Box 2 */
}
@media screen and (min-width: 1301px) and (max-width: 1400px) {
    /* Box 1 */
    /* Box 2 */
    .box1Div1 {
        /* font-size: 20px; */
    }
    .box1Div3 {
        font-size: 17.3px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 20px;
    }
    .box1Div3 {
        font-size: 15px;
    }
    /* Box 2 */
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 18px;
    }
    .box1Div3 {
        font-size: 14px;
    }
    /* Box 2 */
    .box2::before {
        box-shadow: 50px 0 0 0 #f2f6ff;
    }
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 15px;
    }
    .box1Div3 {
        font-size: 11px;
    }
    /* Box 2 */
    .box2::before {
        box-shadow: 40px 0 0 0 #f2f6ff;
    }
}
@media screen and (max-width: 800px) {
    /* Box 1 */
    .box1Div1 {
        font-size: 13px;
    }
    .box1Div3 {
        font-size: 9px;
    }
    /* Box 2 */
    .box2::before {
        box-shadow: 40px 0 0 0 #f2f6ff;
    }
}